* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: content-box;
}
body {
  font-family: Arial,Verdana,sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 16px;
  font-size: 1rem;
  color: #555;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 768px) {
  body {
    padding-top: 30px;
  }
}

h1 {
  padding: 0;
  margin: 0;  
  font-size: 25px;   
  color: #fff   ;
      margin-top: 7px;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #007BFE;
  text-decoration: none;
}
a:hover {
  color: #025dbd;
}
.kitchen-sink-head {
  background-color: #0E0A32;
  padding: 20px 20px 20px;
  width: 100%;
  flex-grow: 0;
  position: fixed;
  left: 0; 
  top: 0;
  right: 0;
  min-height: 70px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.kitchen-sink-head a{
  float: left;
}
@media (max-width: 768px) {
  .kitchen-sink-head {
    z-index: 1000;
    min-height: 1px;
    padding: 10px 20px;
  }
  .kitchen-sink-head h1 {
    font-size: 20px;
  }

}


.kitchen-sink-head h1 span {
  font-weight: normal;
  padding-left: 5px;
}
.kitchen-sink-left {
  background-color: #0E0A32;
  width: 300px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 65px;
  left: 0;
  bottom: 0;
}
@media (max-width: 768px) {
  .kitchen-sink-left {
    flex-basis: 100%;
    position: relative;
    width: auto;
    top: 0;
  }
}

.kitchen-sink-left h2 {
  flex-grow: 0;
  padding: 0 20px;
  margin: 0;
  font-size: 20px;
}
.kitchen-sink-left h3 {
  flex-grow: 0;
  padding: 20px 20px 0 30px;
  margin: 0;
  font-size: 18px;
  text-transform: none;
  position: relative;
}
.kitchen-sink-left h3 a {
  display: block;
  position: relative;
}
.kitchen-sink-left h3 a:before {
  content: "";
  position: absolute;
  left: -12px;
  top: 4px;
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
}
.kitchen-sink-left .overview {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 1px;
  padding: 5px 0 40px;
}
@media (max-width: 768px) {
  .kitchen-sink-left .overview  {
    height: auto;
    padding-top: 20px;
  }
}

.kitchen-sink-left a {
  color: #47CCFC;
  display: block;
  font-weight: bold;
}
.kitchen-sink-left a:hover {
  color: #007BFE;
}
.kitchen-sink-left ul {
  margin: 0 20px 0 30px;
  list-style: none;
  padding: 0;
}
.kitchen-sink-left li {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}




.kitchen-sink-center {
  background-color: #fff;
  flex-basis: 80%;
  padding: 20px 20px 80px 340px;
}
@media (max-width: 768px) {
  .kitchen-sink-center {
    flex-basis: 100%;
    width: 100%;
    padding: 20px;
  }
}
.kitchen-sink-center > h2 {
  margin-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .kitchen-sink-center > h2 {
    margin-top: 20px;
  }
}



.kitchen-sink-center h3 {
  margin-bottom: 10px;
}
.kitchen-sink-center .boxes.col2 > li {
  margin: 0 2% 20px 0;
  flex-basis: 48%;
}
@media (max-width: 768px) {
  .kitchen-sink-center .boxes.col2 > li {
    flex-basis: 100%;
  }
}
.kitchen-sink-center ul {
  margin-left: 20px;
  list-style: square;
}
.kitchen-sink-center ul li {  
  list-style: square;
  margin-bottom: 5px;
}
.kitchen-sink-center > ul > li {  
  margin-bottom: 20px;
}
.kitchen-sink-center ul li ul {  
  margin-top: 15px;
  margin-bottom: 15px;
}
.kitchen-sink-center .boxes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}
.kitchen-sink-center .boxes > li {
  margin: 0 2% 20px 0;
  padding: 15px 15px 20px;
  border: 1px solid #ccc;
  flex-basis: 23%;
  flex-grow: 0;
  border-radius: 3px;
  list-style: none;
}
@media (max-width: 768px) {
  .kitchen-sink-center .boxes > li {
    flex-basis: 100%;
  }
}
.kitchen-sink-center .boxes  {
  margin: 0;
  padding: 0;
  list-style: none;
}
.boxes h3 {
  margin: 0 0 10px;
  padding: 0;
}
.boxes ul {
  list-style: square;
}
.boxes ul li {
  list-style: square;
  margin-bottom: 10px;
}
.boxes li img {
  display: block;
  width: 100%;
}
.boxes li > img {
  max-width: 80px;
  margin: 10px 0 5px;
  border: 1px solid #f0f0f0;
}
.boxes ul li ul {
  margin-top: 10px;
}


.logo_vince_live {
  width: 178px;
  height: 41px;
}