$primary-color: #333;
$secondary-color: blue; /* not sure where its used*/

$primary-background-color: #f7f7f7;
$secondary-background-color: #fcfcfc; /* not sure where its used*/
$background-color-light: #fff;

$primary-cta: #0579C9;
$primary-cta-hover: #025c7d;


