/* Import variables */
@import "_v-variables.scss";

aside.v-aside  {
  background-color: $background-color-light;
  padding: 10px;
  flex-basis: 300px;
  width: 300px;
  box-shadow: 5px 0px 18px rgba(0, 0, 0, 0.1);
  flex-grow: 0;
  flex-shrink: 0;
  top: 0;
  right: -320px;
  bottom: 0;
  transition: right 1s;
  position: fixed;
  text-align: left;
  overflow-y: scroll;
  border-left: 1px solid #d9d9d9;
  display: flex;
  z-index: 100;
  flex-direction: column;

  .v-aside-head {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .v-aside-body {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 10px;
    border-top: 1px solid #ccc;
    overflow: auto;
    box-shadow: inset 0px 10px 8px -8px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 20px;
      margin: 20px 0 10px;
      color: #000;
    }

  }

  &.v-open {
    right: 0;
  }

  &.v-fixed {
    right: 0;

    .v-hide-aside {
      position: absolute;
      right: 20px;
      top: 15px;
      left: 20px;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
    }

  }

  .v-editor-aside-fixed-toggle {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px 15px;
    cursor: pointer;
    transition: right 500ms, left 500ms;

    i {
      transform: rotate(180deg);
    }

  }

  &.v-hidden {
    right: -260px;
    overflow: visible;
    padding-left: 80px;

    .v-editor-aside-fixed-toggle {
      height: 100%;
      padding-right: 10px;
      right: auto;
      left: 0;
      background-color: #2f2f2f;
      color: #fff;

      i {
        transform: rotate(0deg);
      }

      &:hover {
        background-color: #000;
      }

    }

  }

  &:after {
    content: "";
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 10px;
    box-shadow: inset 0px -10px 8px -8px rgba(0, 0, 0, 0.1);
    position: absolute;
  }

}

.v-aside-open-overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}