/* Import variables */
@import "_v-variables.scss";

main.v-editor-main {
  background-color: $primary-background-color;
  padding: 0px 280px 0px 250px;
  transition: padding-left 1s, padding-right 1s;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .v-toggle-aside {
    cursor: pointer;  

    &.v-active {
      color: white;
      background-color: $primary-cta;
    }

  }

  .v-editor-main-header {
    position: relative;
    padding: 20px 40px 10px 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 8px -8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;

    a:hover {
      text-decoration: none;
    }

    .fas {
      margin-right: 5px;
    }

  }

  .v-editor-main-content {
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;

    h2 {
      margin: 20px 0 10px;
      font-size: 22px;
    }

  }

  &.v-hidden {
    padding-right: 20px;
  }

}

