/* Import variables */
@import "_v-variables.scss";

header.v-general-header {
  background-color: #fff;
  margin: auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  
  .v-navbar {
    max-width: 1400px;
    margin: auto;
  }

  .v-navbar-nav {
    margin-bottom: -2px;
    
    &:hover {
      background-color: $primary-background-color;
    }

  }

  .v-no-arrow {
   
    i {
      margin-left: 5px;
      margin-right: 5px;
    }

    &:after {
      display: none;
    }

  }

  .v-profile {

    @media (max-width: 768px) {
      order: 1;
      border-top: 1px solid #e9ecef;
      margin-top: 20px;
    }

  }

}