/* Import variables */
@import "_v-variables.scss";

.fa-exclamation-circle {
  color: $primary-cta;
  margin-left: 5px;
}
.v-element-nav .dropdown-item .far {
  margin-right: 5px;
  min-width: 20px;
}
.v-showhide .fas {
  padding: 2px 15px;
  float: right;
}
.v-showhide .v-closed .fas {
  transform: rotate(180deg);  
}
