/* Import variables */
@import "_v-variables.scss";

.v-select-api-wrapper {
  display: inline-flex;
  height: 100%;
  padding: 0 40px 0 0;
}

.v-select-api {
  background-color: #fff;
  min-width: 300px;
  max-width: 300px;
  margin: 0px 20px 0px 0;
  flex-shrink: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;

  .v-select-api-actions {

    a {
      display: inline-block;
      margin-right: 5px;
    }

  }

  .v-select-api-head {
    padding: 5px 0;

    h3 {
      font-size: 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #000;
      margin-bottom: 5px;
    }

    h4 {
      font-size: 14px;
      color: #999;
      font-weight: 400;
    }

  }

  .v-select-api-search {
    padding: 10px 0;
  }

  .v-select-api-list {
    flex-grow: 1;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    padding-bottom: 20px;
    box-shadow: inset 0px 10px 8px -8px rgba(0, 0, 0, 0.1);
    position: relative;

    .v-showhide {
      cursor: pointer;

      &:hover {
        color: #666;
      }

    }

    h3 {
      font-size: 16px;
      padding: 15px 0px 10px;
      font-weight: 700;
      margin: 15px 0 5px;
    }

    ul {

      li {
        background-color: $primary-background-color;
        margin: 5px 0;
        padding: 0;

        a {
          display: block;
          padding: 10px;

          &:hover {
            text-decoration: none;
          }

        }

      }

    }

  }

  &:after {
    content: "";
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 10px;
    box-shadow: inset 0px -10px 8px -8px rgba(0, 0, 0, 0.1);
    position: absolute;
  }

  &.add-api {
    align-self: flex-start;

    &:after {
      box-shadow: none;      
    }
  
  }

}