.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #47CCFC;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem #47CCFC;
}