body {
    background: #F7F7F9 !important
}

.v-favorite.v-chosen {
    color: #0e0a32;
}

.v-description-name {
    color: #7B798F;
}

.v-general-main-content,
.v-general-main-filters,
.v-general-main-header,
.v-general-main-toolbar,
/* .v-list, */
.v-navbar {
    max-width: 69%;
    margin: 0px auto;
}

header.v-general-header .v-navbar {
    max-width: 100%;
}

.v-list {
    max-width: 100%;
}

.btn.bg-green {
    background: #54DB8E;
    color: #0B093A;
    border: 0px;
    margin-right: 4px;
}

a {
    color: #0B093A;
}

.Expand-collpase-arrow i {
    font-size: 1.5rem;
    padding: 5px 14px;
    vertical-align: bottom;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #47CCFC;
}

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    ...
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    ...
}

// Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .v-general-main-content,
    .v-general-main-filters,
    .v-general-main-header,
    .v-general-main-toolbar,
    /* .v-list, */
    .v-navbar {
        max-width: 69%;
    }
}

@media (min-width: 1400px) {

    .v-general-main-content,
    .v-general-main-filters,
    .v-general-main-header,
    .v-general-main-toolbar,
    /* .v-list, */
    .v-navbar {
        max-width: 72%;
    }
}

@media (min-width: 1920px) {

    .v-general-main-content,
    .v-general-main-filters,
    .v-general-main-header,
    .v-general-main-toolbar,
    /* .v-list, */
    .v-navbar {
        max-width: 79%;
    }
}

@media (min-width: 3840px) {

    .v-general-main-content,
    .v-general-main-filters,
    .v-general-main-header,
    .v-general-main-toolbar,
    /* .v-list, */
    .v-navbar {
        max-width: 89%;
    }
}


/*dahsboard card view*/

.v-card-view .v-card-header {
    min-height: 150px;
    background: #DBDBE1
}

.v-favorite.v-right-bottom {
    color: #0e0a32 !important;
}

.v-card-header .v-favorite.v-right-bottom {
    color: #0e0a32;

    right: 13px;
    top: 11px;
}

.v-card-footer {
    position: relative;
}

.v-card-footer .v-element-nav {
    bottom: 0px;
    top: 1px;
}

.v-reports-view .v-element-nav .v-favorite.v-right-bottom {
    right: 11px;
}


/*dropdown*/
.dropdown-menu {
    padding: 0px;
}

.dropdown-item i::before {
    border: 1px solid #5BDF97;
    padding: 9px;
    border-radius: 20px;
}

.dropdown-item {
    padding: 0.7rem 0.5rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0e0a32;
}

.color-gray {
    color: #868498;
}