.v-select-api-wrapper .v-select-api.add-api {
  color: #0E0A32;

  .v-select-api-search .form-group {
    background: #fff;
    padding: 0;

    label {
      font-weight: bold;
    }

    i {
      color: #0E0A32;
      font-size: 12px;

      &::before {
        border: 1px solid #5BDF97;
        padding: 3px 7px;
        border-radius: 34px;
      }
    }
  }
}

.v-select-api {
  .v-select-api-head h3 {
    color: #0E0A32;
  }

  .v-select-api-actions .btn-gray {
    background: #F7F7F9;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    text-decoration: none;
    margin: 0px;
  }
}

/* .v-select-api .v-select-api-actions a{
    background: #0E0A32;
} */

.v-select-api-search .form-group {
  margin-bottom: 15px;
  background: #fff;
}

.v-select-api .v-select-api-list {
  border-top: 0px;
  box-shadow: none;
}