.v-worflow-view ul li {
  float: left;
  margin-right: 40px;

  &::after {
    content: "";
    width: 59px;
    border-top: 2px solid #f3f3f5;
    position: absolute;
    left: auto;
    top: 49%;
    margin-top: 1px;
  }

  a {
    padding: 13px 40px 13px 18px;
    background: #F3F3F5;
  }
}