:root{
    --primary-color: #C5C5C5 !important;
    --Greayscale: #0E0A32;
}



.green.lighten-1 {
    color: var(--tertiary-color) !important;
    background-color: var(--default-color) !important;
    border-color: var(--default-color) !important;
}