/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-default.scss */
html {
  height: 100%;
  box-sizing: content-box;
}

/* line 9, ../sass/v-default.scss */
body {
  font-family: "Roboto",Helvetica,Arial,Verdana,sans-serif;
  color: #333;
  background-color: #f7f7f7;
  font-size: 1rem;
  color: #555;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* line 21, ../sass/v-default.scss */
a {
  color: #0579C9;
}
/* line 24, ../sass/v-default.scss */
a:hover {
  color: #025c7d;
}

/* Divese classes */
/* line 31, ../sass/v-default.scss */
.v-no-show {
  display: none;
}

/* line 35, ../sass/v-default.scss */
.v-wannabe-link {
  color: #0579C9;
  cursor: pointer;
}
/* line 39, ../sass/v-default.scss */
.v-wannabe-link:hover {
  color: #025c7d;
}

/* line 45, ../sass/v-default.scss */
.v-last-saved {
  background-color: #fff3cd;
  padding: 5px 10px;
  color: #888;
  display: none;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}

/* line 55, ../sass/v-default.scss */
.v-popover {
  color: #0579C9;
  margin-left: 5px;
  cursor: pointer;
  border-bottom: 1px solid #0579C9;
}

/* line 62, ../sass/v-default.scss */
.v-icons {
  display: block;
}
/* line 65, ../sass/v-default.scss */
.v-icons i {
  margin: 10px 10px 2px 0;
  color: #999;
}
/* line 71, ../sass/v-default.scss */
.v-icons a i {
  color: inherit;
}
@media (max-width: 768px) {
  /* line 62, ../sass/v-default.scss */
  .v-icons {
    display: inline-block;
  }
}

/* line 82, ../sass/v-default.scss */
.v-favorite {
  color: #999;
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 15px;
  left: auto;
  bottom: auto;
}
/* line 91, ../sass/v-default.scss */
.v-favorite.v-right-bottom {
  right: 13px;
  bottom: 30px;
  top: auto;
  left: auto;
}
/* line 97, ../sass/v-default.scss */
.v-favorite.v-left-top {
  left: 13px;
  top: 15px;
  right: auto;
  bottom: auto;
}
/* line 103, ../sass/v-default.scss */
.v-favorite.v-left-bottom {
  left: 13px;
  bottom: 15px;
  right: auto;
  top: auto;
}
/* line 110, ../sass/v-default.scss */
.v-favorite.v-chosen {
  color: #ff0000;
}

/* line 114, ../sass/v-default.scss */
.table .v-favorite {
  top: 20px;
}
@media (max-width: 768px) {
  /* line 114, ../sass/v-default.scss */
  .table .v-favorite {
    position: relative;
    left: 10px;
    top: 0;
    margin: 10px 0;
  }
}

/* Red ball to indicate new stuff */
/* line 127, ../sass/v-default.scss */
.v-newstuff {
  position: absolute;
  top: 0px;
  right: -3px;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  padding: 0 2px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

/* Link to UI Kitchen Sink */
/* line 145, ../sass/v-default.scss */
.v-docs {
  position: fixed;
  z-index: 2000;
  padding: 5px 30px;
  font-size: 14px;
  text-transform: uppercase;
  right: -29px;
  bottom: 3px;
  transform: rotate(-45deg);
  color: #fff;
  background-color: #ff8f00;
}
/* line 157, ../sass/v-default.scss */
.v-docs:hover {
  text-decoration: none;
  background-color: #a55c00;
  color: #fff;
}
