/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-editor-header.scss */
header.v-editor-header {
  background-color: #fff;
  padding: 40px 40px 30px 30px;
  flex-basis: 250px;
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 500ms;
  z-index: 100;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  border-right: 1px solid #d9d9d9;
  overflow: visible;
}
/* line 26, ../sass/v-editor-header.scss */
header.v-editor-header .v-dropdown-toggle {
  outline: none;
}
/* line 30, ../sass/v-editor-header.scss */
header.v-editor-header .v-dropdown-toggle:after {
  display: none;
}
/* line 34, ../sass/v-editor-header.scss */
header.v-editor-header .v-add-component2 {
  margin: 20px 10px 0 0;
}
/* line 37, ../sass/v-editor-header.scss */
header.v-editor-header .v-add-component2 i {
  margin-right: 10px;
}
/* line 43, ../sass/v-editor-header.scss */
header.v-editor-header .v-editor-header-toggle {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 15px;
  cursor: pointer;
  transition: transform 500ms;
}
/* line 51, ../sass/v-editor-header.scss */
header.v-editor-header .v-editor-header-toggle i {
  transition: transform 1s;
}
/* line 59, ../sass/v-editor-header.scss */
header.v-editor-header .v-editor-header-head h1 {
  line-height: 30px;
  font-size: 1.4rem;
}
/* line 63, ../sass/v-editor-header.scss */
header.v-editor-header .v-editor-header-head h1.v-trigger-settings {
  cursor: pointer;
}
/* line 66, ../sass/v-editor-header.scss */
header.v-editor-header .v-editor-header-head h1.v-trigger-settings:hover {
  color: #000;
}
/* line 74, ../sass/v-editor-header.scss */
header.v-editor-header .v-editor-header-head .v-title {
  border: none;
  border-bottom: 1px dashed #555;
  padding: 5px 0 5px;
  font-size: 20px;
  color: #555;
  width: 100%;
  outline: 0 none;
}
/* line 86, ../sass/v-editor-header.scss */
header.v-editor-header .v-editor-header-body {
  flex-grow: 1;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
}
/* line 95, ../sass/v-editor-header.scss */
header.v-editor-header .v-header-actions {
  position: relative;
}
/* line 99, ../sass/v-editor-header.scss */
header.v-editor-header .v-header-actions-primary {
  margin-top: 20px;
  transition: right 500ms;
  right: 0;
  width: auto;
  position: relative;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
/* line 110, ../sass/v-editor-header.scss */
header.v-editor-header.v-hidden {
  left: -210px;
  overflow: visible;
}
/* line 114, ../sass/v-editor-header.scss */
header.v-editor-header.v-hidden .v-editor-header-toggle {
  height: 100%;
  padding-right: 10px;
  background-color: #2f2f2f;
  color: #fff;
}
/* line 120, ../sass/v-editor-header.scss */
header.v-editor-header.v-hidden .v-editor-header-toggle i {
  transform: rotate(180deg);
}
/* line 124, ../sass/v-editor-header.scss */
header.v-editor-header.v-hidden .v-editor-header-toggle:hover {
  background-color: #000;
}
/* line 130, ../sass/v-editor-header.scss */
header.v-editor-header.v-hidden + div main.v-editor-main {
  padding-left: 40px;
}
/* line 136, ../sass/v-editor-header.scss */
header.v-editor-header .v-divider {
  flex-grow: 1;
}
/* line 140, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav {
  flex-direction: column;
  justify-content: space-between;
  border: none;
  height: 100%;
}
/* line 147, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item {
  padding: 0;
  margin-left: -10px;
  color: #555;
  text-decoration: none;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 157, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item a {
  color: inherit;
  padding: 7px 10px;
  display: inline-block;
  border: none;
  position: relative;
}
/* line 164, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item a:hover {
  text-decoration: none;
  background-color: #f7f7f7;
}
/* line 169, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item a.active {
  font-weight: 700;
  color: #000;
}
/* line 176, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item .v-delete-component {
  display: none;
}
/* line 180, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item .fa-expand-arrows-alt {
  display: none;
  transform: rotate(45deg);
  margin-left: 10px;
  color: #999;
  font-size: 0.7rem;
}
/* line 188, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item a:hover .fa-expand-arrows-alt {
  display: inline-block;
}
/* line 194, ../sass/v-editor-header.scss */
header.v-editor-header .v-nav-item:hover .v-delete-component {
  display: inline-block;
  text-align: right;
}
