/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-editor-main.scss */
main.v-editor-main {
  background-color: #f7f7f7;
  padding: 0px 280px 0px 250px;
  transition: padding-left 1s, padding-right 1s;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 13, ../sass/v-editor-main.scss */
main.v-editor-main .v-toggle-aside {
  cursor: pointer;
}
/* line 16, ../sass/v-editor-main.scss */
main.v-editor-main .v-toggle-aside.v-active {
  color: white;
  background-color: #0579C9;
}
/* line 23, ../sass/v-editor-main.scss */
main.v-editor-main .v-editor-main-header {
  position: relative;
  padding: 17px 40px 10px 20px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 8px -8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}
/* line 33, ../sass/v-editor-main.scss */
main.v-editor-main .v-editor-main-header a:hover {
  text-decoration: none;
}
/* line 37, ../sass/v-editor-main.scss */
main.v-editor-main .v-editor-main-header .fas {
  margin-right: 5px;
}
/* line 43, ../sass/v-editor-main.scss */
main.v-editor-main .v-editor-main-content {
  overflow-y: auto;
  flex-grow: 1;
  height: 100%;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
}
/* line 51, ../sass/v-editor-main.scss */
main.v-editor-main .v-editor-main-content h2 {
  margin: 20px 0 10px;
  font-size: 22px;
}
/* line 58, ../sass/v-editor-main.scss */
main.v-editor-main.v-hidden {
  padding-right: 20px;
}
