/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-general-header.scss */
header.v-general-header {
  background-color: #0E0A32;
  margin: auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 99;
}

/* line 9, ../sass/v-general-header.scss */
header.v-general-header .v-navbar {
  max-width: 1400px;
  margin: auto;
}

/* line 14, ../sass/v-general-header.scss */
header.v-general-header .v-navbar-nav {
  margin-bottom: -2px;
}

/* line 17, ../sass/v-general-header.scss */

/* line 25, ../sass/v-general-header.scss */
header.v-general-header .v-no-arrow i {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 30, ../sass/v-general-header.scss */
header.v-general-header .v-no-arrow:after {
  display: none;
}

@media (max-width: 768px) {

  /* line 36, ../sass/v-general-header.scss */
  header.v-general-header .v-profile {
    order: 1;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
  }
}


.logo_vince_live {
  width: 130px;
  height: 41px;
}

header.v-general-header {
  background-color: #0E0A32;
  margin: auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
}


header.v-general-header .navbar-brand {
  background: transparent;
  padding: 8px 30px;
  margin: -0.5rem 0rem -0.5rem -1rem;
}

/* .logo_vince_live {
  width: 167px;
  height: 41px;
} */

header.v-general-header .v-app-chooser .fa {
  color: #fff;
}

header.v-general-header a,
.v-general-header .right-navbar a.nav-link:hover {
  color: #47CCFC;
  border-bottom: none;
}

.v-general-header .navbar-collapse {
  margin-right: 3%
}

.v-general-header .right-navbar a {
  color: #fff;
}

.v-general-header .navbar-nav .nav-link:hover,
.v-general-header .navbar-nav .nav-link.active {
  color: #fff;
  border-bottom: 1px solid #fff
}

.v-general-header .navbar-nav .nav-link {
  padding: 0px;
  margin: 0px 0.5rem
}

.v-general-header .dropdown-menu {
  position: static;
  float: none;
  background: #0e0a32;
}

.v-general-header .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem
}

.v-general-header .dropdown-item:focus,
.v-general-header .dropdown-item:hover {
  color: #fff;
  background-color: #399dcb;
}