/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-general-main.scss */
main.v-general-main {
  margin: 40px 0 80px;
   
}
@media (max-width: 768px) {
  /* line 4, ../sass/v-general-main.scss */
  main.v-general-main {
    margin: 20px 0 80px;
  }
}

/* line 13, ../sass/v-general-main.scss */
.v-general-main-header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  padding: 0 25px 0 0;
  flex-direction: column;
  align-items: flex-start;
     
}
/* line 21, ../sass/v-general-main.scss */
.v-general-main-header .v-back {
  display: inline-block;
  margin: 0 0 5px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
/* line 27, ../sass/v-general-main.scss */
.v-general-main-header .v-back i {
  margin-right: 5px;
}
/* line 31, ../sass/v-general-main.scss */
.v-general-main-header .v-back:hover {
  border-bottom: 1px solid #0579C9;
}
@media (max-width: 1400px) {
  /* line 13, ../sass/v-general-main.scss */
  .v-general-main-header {
    margin: 0 40px;
  }
}
@media (max-width: 768px) {
  /* line 13, ../sass/v-general-main.scss */
  .v-general-main-header {
    margin: 0 20px;
  }
  /* line 44, ../sass/v-general-main.scss */
  .v-general-main-header h1 {
    font-size: 25px;
  }
}

/* line 51, ../sass/v-general-main.scss */
.v-general-main-filters {
  max-width: 1400px;
  display: flex;
  padding: 10px 0px 10px 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  margin: 10px auto 0;
}
/* line 59, ../sass/v-general-main.scss */
.v-general-main-filters .v-general-main-filter-divider {
  border-left: 1px solid #dee2e6;
  margin: 0 20px;
}
@media (max-width: 768px) {
  /* line 59, ../sass/v-general-main.scss */
  .v-general-main-filters .v-general-main-filter-divider {
    border-left: none;
    border-top: 1px solid #dee2e6;
    margin: 10px 0 !important;
  }
}
/* line 71, ../sass/v-general-main.scss */
.v-general-main-filters + .v-general-main-filters {
  margin-top: 0;
  border-top: none;
}
/* line 76, ../sass/v-general-main.scss */
.v-general-main-filters.v-custom-tab {
  padding: 0;
  border-top: none;
  margin-top: 20px;
  border-color: #999;
}
/* line 84, ../sass/v-general-main.scss */
.v-general-main-filters.v-custom-tab .nav-tabs .nav-item {
  margin-bottom: 0;
}
/* line 88, ../sass/v-general-main.scss */
.v-general-main-filters.v-custom-tab .nav-tabs .nav-link {
  background-color: #fff;
  margin-right: 10px;
  border-radius: 2px 2px 0 0;
  border: 1px solid #dee2e6;
  border-width: 1px 1px 0;
  padding: 10px 30px;
}
/* line 96, ../sass/v-general-main.scss */
.v-general-main-filters.v-custom-tab .nav-tabs .nav-link.active {
  background-color: #f7f7f7;
  border: 1px solid #999;
  border-bottom: none;
  padding-bottom: 12px;
  bottom: -1px;
  margin-top: -1px;
}
/* line 104, ../sass/v-general-main.scss */
.v-general-main-filters.v-custom-tab .nav-tabs .nav-link.active:hover {
  border-color: #999;
}
/* line 109, ../sass/v-general-main.scss */
.v-general-main-filters.v-custom-tab .nav-tabs .nav-link:hover {
  border: 1px solid #fff;
  border-width: 1px 1px 0;
}
/* line 120, ../sass/v-general-main.scss */
.v-general-main-filters .v-tablesort-select {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
/* line 125, ../sass/v-general-main.scss */
.v-general-main-filters .v-tablesort-select label {
  margin-right: 10px;
  margin-bottom: 0;
}
/* line 130, ../sass/v-general-main.scss */
.v-general-main-filters .v-tablesort-select select {
  cursor: pointer;
}
@media (max-width: 1400px) {
  /* line 51, ../sass/v-general-main.scss */
  .v-general-main-filters {
    margin: 0 40px;
  }
}
@media (max-width: 768px) {
  /* line 51, ../sass/v-general-main.scss */
  .v-general-main-filters {
    margin: 0 20px;
    flex-direction: column;
  }
  /* line 144, ../sass/v-general-main.scss */
  .v-general-main-filters > * {
    margin: 5px 0;
  }
  /* line 148, ../sass/v-general-main.scss */
  .v-general-main-filters .ml-auto {
    margin-left: 0 !important;
  }
}
/* line 154, ../sass/v-general-main.scss */
.v-general-main-filters .v-search {
  display: flex;
  align-items: center;
  margin: 5px 0 !important;
}
/* line 159, ../sass/v-general-main.scss */
.v-general-main-filters .v-search label {
  margin-right: 10px;
  margin-bottom: 0;
}

/* line 168, ../sass/v-general-main.scss */
.v-general-main-toolbar {
  max-width: 1400px;
  display: flex;
  padding: 10px;
  margin: 10px auto 0;
  background-color: #fff;
  border-radius: 10px;
  align-items: center;
  transition: border-radius 1s, box-shadow 1s;
  position: relative;
  z-index: 100;
}
/* line 180, ../sass/v-general-main.scss */
.v-general-main-toolbar button, .v-general-main-toolbar .btn {
  margin-right: 10px;
  transition: background-color 1s, color 1s;
}
/* line 185, ../sass/v-general-main.scss */
.v-general-main-toolbar.v-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px -7px 20px -5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1400px) {
  /* line 168, ../sass/v-general-main.scss */
  .v-general-main-toolbar {
    margin: 0 40px;
  }
}
@media (max-width: 768px) {
  /* line 168, ../sass/v-general-main.scss */
  .v-general-main-toolbar {
    margin: 0 20px;
  }
}

/* line 204, ../sass/v-general-main.scss */
.v-general-main-content {
  max-width: 1400px;
  display: flex;
  padding: 20px 0px 0 0;
  margin: 10px auto 0;
  flex-direction: column;
  overflow-x: auto;
     
}
/* line 213, ../sass/v-general-main.scss */
.v-general-main-content h2 {
  margin: 20px 0 10px;
  font-size: 22px;
}
@media (max-width: 1400px) {
  /* line 204, ../sass/v-general-main.scss */
  .v-general-main-content {
    margin: 0 40px;
  }
}
@media (max-width: 768px) {
  /* line 204, ../sass/v-general-main.scss */
  .v-general-main-content {
    margin: 0 20px;
  }
}

/* line 228, ../sass/v-general-main.scss */
.v-list {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
/* line 236, ../sass/v-general-main.scss */
.v-list .v-list-actions {
  margin-bottom: 10px;
  margin-top: 20px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}
/* line 243, ../sass/v-general-main.scss */
.v-list .v-list-actions .btn {
  margin-right: 10px;
}
/* line 246, ../sass/v-general-main.scss */
.v-list .v-list-actions .btn:last-of-type {
  margin-right: 0;
}
/* line 253, ../sass/v-general-main.scss */
.v-list > li, .v-list > div {
  display: flex;
  flex-direction: column;
  margin: 0 1% 1.2% 0;
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  width: 100%;
}
/* line 262, ../sass/v-general-main.scss */
.v-list > li h3, .v-list > div h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 3px 0 10px;
  border-bottom: 1px solid #dee2e6;
  padding: 0 0 10px;
}
/* line 272, ../sass/v-general-main.scss */
.v-list > li dl dd, .v-list > div dl dd {
  margin-bottom: 10px;
}
/* line 278, ../sass/v-general-main.scss */
.v-list > li > a, .v-list > div > a {
  display: block;
}
/* line 281, ../sass/v-general-main.scss */
.v-list > li > a:hover, .v-list > div > a:hover {
  border-color: #666;
  text-decoration: none;
}
/* line 288, ../sass/v-general-main.scss */
.v-list > li > span, .v-list > div > span {
  display: block;
}
/* line 294, ../sass/v-general-main.scss */
.v-list:after {
  content: '';
  flex: auto;
}
/* line 301, ../sass/v-general-main.scss */
.v-list.v-col1 > li, .v-list.v-col1 > div {
  width: 99%;
  flex-basis: 99%;
}
/* line 310, ../sass/v-general-main.scss */
.v-list.v-col2 > li, .v-list.v-col2 > div {
  width: 49%;
  flex-basis: 49%;
   box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
   0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
   0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
   0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
   border-width: 0;
   transition: all .2s;
}
/* line 319, ../sass/v-general-main.scss */
.v-list.v-col3 > li, .v-list.v-col3 > div {
  width: 32.3%;
  flex-basis: 32.3%;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        border-width: 0;
        transition: all .2s;
}
/* line 328, ../sass/v-general-main.scss */
.v-list.v-col4 > li, .v-list.v-col4 > div {
  width: 24%;
  flex-basis: 24%;
}
/* line 337, ../sass/v-general-main.scss */
.v-list.v-col5 > li, .v-list.v-col5 > div {
  width: 19%;
  flex-basis: 19%;
}
/* line 346, ../sass/v-general-main.scss */
.v-list.v-col6 > li, .v-list.v-col6 > div {
  width: 15.65%;
  flex-basis: 15.65%;
}
/* line 353, ../sass/v-general-main.scss */
.v-list.v-list-center {
  justify-content: center;
}
/* line 356, ../sass/v-general-main.scss */
.v-list.v-list-center:after {
  display: none;
}
/* line 364, ../sass/v-general-main.scss */
.v-list.v-list-transparent > li, .v-list.v-list-transparent > div {
  background-color: transparent;
  padding: 10px 0 0;
}
/* line 373, ../sass/v-general-main.scss */
.v-list.v-bootstrap-grid > div {
  margin: 0;
  border-right: 15px solid #f7f7f7;
  border-bottom: 15px solid #f7f7f7;
  
}
@media (max-width: 768px) {
  /* line 382, ../sass/v-general-main.scss */
  .v-list.v-col1 > div, .v-list.v-col2 > div, .v-list.v-col3 > div, .v-list.v-col4 > div, .v-list.v-col5 > div, .v-list.v-col6 > div, .v-list.v-col1 > li, .v-list.v-col2 > li, .v-list.v-col3 > li, .v-list.v-col4 > li, .v-list.v-col5 > li, .v-list.v-col6 > li {
    width: 99%;
    flex-basis: 99%;
    margin-bottom: 10px;
  }
}

/* line 391, ../sass/v-general-main.scss */
.v-fullwidth {
  margin: 10px 0 0;
  max-width: 100%;
}
@media (max-width: 1400px) {
  /* line 391, ../sass/v-general-main.scss */
  .v-fullwidth {
    margin: 10px 0px 0;
  }
}
@media (max-width: 768px) {
  /* line 391, ../sass/v-general-main.scss */
  .v-fullwidth {
    margin: 0 20px;
  }
}

/* line 405, ../sass/v-general-main.scss */
.v-expandable-list {
  align-items: flex-start;
}
/* line 408, ../sass/v-general-main.scss */
.v-expandable-list li {
  border: 1px solid #fff;
      box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
      0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
      0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
      border-width: 0;
      transition: all .2s;
}
/* line 411, ../sass/v-general-main.scss */
.v-expandable-list li .v-expandable-summary {
  display: block;
  cursor: pointer;
  position: relative;
}
/* line 416, ../sass/v-general-main.scss */
.v-expandable-list li .v-expandable-summary:hover {
  border-color: #666;
}
/* line 420, ../sass/v-general-main.scss */
.v-expandable-list li .v-expandable-summary .v-workflow-name {
  display: block;
  font-weight: 500;
}
@media (max-width: 1400px) {
  /* line 411, ../sass/v-general-main.scss */
  .v-expandable-list li .v-expandable-summary {
    left: -3%;
    max-width: 1400px;
  }
}
@media (max-width: 768px) {
  /* line 411, ../sass/v-general-main.scss */
  .v-expandable-list li .v-expandable-summary {
    left: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 0px 0px;
  }
}
/* line 440, ../sass/v-general-main.scss */
.v-expandable-list li.v-open {
  border: 1px solid #000;
  padding-bottom: 0;
  border-bottom: none;
}
/* line 445, ../sass/v-general-main.scss */
.v-expandable-list li.v-open .v-expandable-summary {
  border-color: #666;
  margin-bottom: -11px;
  border-bottom: 1px solid #fff;
  z-index: 20;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0 20px 30px;
}
/* line 454, ../sass/v-general-main.scss */
.v-expandable-list li.v-open .v-expandable-summary + .v-expandable-details {
  display: flex;
  justify-content: center;
  z-index: 0;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid #666;
}
@media (max-width: 768px) {
  /* line 454, ../sass/v-general-main.scss */
  .v-expandable-list li.v-open .v-expandable-summary + .v-expandable-details {
    border-top: none;
  }
}
@media (max-width: 768px) {
  /* line 445, ../sass/v-general-main.scss */
  .v-expandable-list li.v-open .v-expandable-summary {
    margin: 0;
    padding: 10px 20px;
  }
}
@media (max-width: 768px) {
  /* line 440, ../sass/v-general-main.scss */
  .v-expandable-list li.v-open {
    padding: 0;
  }
}
/* line 481, ../sass/v-general-main.scss */
.v-expandable-list li .v-new-workflow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0579C9;
      box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
      0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
      0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
      border-width: 0;
      transition: all .2s;
}
/* line 488, ../sass/v-general-main.scss */
.v-expandable-list li .v-dropdown-toggle {
  outline: none;
}
/* line 492, ../sass/v-general-main.scss */
.v-expandable-list li .v-dropdown-toggle:after {
  display: none;
}
/* line 496, ../sass/v-general-main.scss */
.v-expandable-list li .v-add-component {
  margin: 20px 10px 28px 0;
}
/* line 499, ../sass/v-general-main.scss */
.v-expandable-list li .v-add-component i {
  margin-right: 10px;
}
/* line 505, ../sass/v-general-main.scss */
.v-expandable-list li .v-component-line {
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 511, ../sass/v-general-main.scss */
.v-expandable-list li .v-component-line .v-component {
  display: inline-block;
  border: 1px solid #666;
  padding: 6px 10px;
  margin: 0 10px 10px;
  min-width: 110px;
  background-color: #fff;
}
/* line 519, ../sass/v-general-main.scss */
.v-expandable-list li .v-component-line .v-component:hover {
  text-decoration: none;
}
/* line 523, ../sass/v-general-main.scss */
.v-expandable-list li .v-component-line .v-component.v-ghost {
  border: 1px solid transparent;
}
/* line 531, ../sass/v-general-main.scss */
.v-expandable-list li .v-expandable-details {
  display: none;
  margin-top: 10px;
  background-color: #fff;
  padding: 30px 20px 30px;
  position: relative;
  left: calc( ( (100vw - 315%) / 2) * -1);
  width: 100vw;
  text-align: center;
  border-top: 1px solid #666;
  min-height: 100px;
  flex-wrap: wrap;
}
/* line 544, ../sass/v-general-main.scss */
.v-expandable-list li .v-expandable-details .v-workflow-components {
  margin: 0 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
/* line 551, ../sass/v-general-main.scss */
.v-expandable-list li .v-expandable-details .v-workflow-defaults {
  margin: 10px 10px 0;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  /* line 551, ../sass/v-general-main.scss */
  .v-expandable-list li .v-expandable-details .v-workflow-defaults {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  /* line 531, ../sass/v-general-main.scss */
  .v-expandable-list li .v-expandable-details {
    left: 0 !important;
    width: auto;
    padding: 10px 0;
  }
}
/* line 571, ../sass/v-general-main.scss */
.v-expandable-list li:nth-child(3n+2) .v-expandable-details {
  left: calc( ( (100vw - 103%) / 2) * -1);
}
/* line 574, ../sass/v-general-main.scss */
.v-expandable-list li:nth-child(3n+3) .v-expandable-details {
  left: calc( ( (97vw + 115%) / 2) * -1);
}

@media (max-width: 768px) {
  /* line 585, ../sass/v-general-main.scss */
  .v-table th, .v-table thead {
    display: none;
  }
  /* line 588, ../sass/v-general-main.scss */
  .v-table tbody, .v-table tfoot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #C3C3C3;
  }
  /* line 594, ../sass/v-general-main.scss */
  .v-table tbody tr, .v-table tfoot tr {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    flex-basis: 100%;
    flex-shrink: 0;
    background-color: #fff;
    box-sizing: border-box;
  }
  /* line 603, ../sass/v-general-main.scss */
  .v-table tbody tr td, .v-table tfoot tr td {
    width: 100%;
    padding: 3px 10px;
    white-space: normal;
    border-top: none;
    display: flex;
    align-items: center;
  }
  /* line 611, ../sass/v-general-main.scss */
  .v-table tbody tr td:first-of-type, .v-table tfoot tr td:first-of-type {
    background-color: #fff;
    padding-top: 10px;
  }
  /* line 616, ../sass/v-general-main.scss */
  .v-table tbody tr td:last-of-type, .v-table tfoot tr td:last-of-type {
    padding-bottom: 10px;
  }
  /* line 620, ../sass/v-general-main.scss */
  .v-table tbody tr td.v-hide-before-pseudo:before, .v-table tfoot tr td.v-hide-before-pseudo:before {
    display: none;
  }
  /* line 628, ../sass/v-general-main.scss */
  .v-table tbody img, .v-table tfoot img {
    margin: 10px auto;
  }
  /* line 634, ../sass/v-general-main.scss */
  .v-table thead + tbody tr td:before, .v-table tbody + tbody tr td:before {
    content: attr(data-attr);
    display: inline;
    min-width: 40px;
    font-weight: bold;
    padding-right: 10px;
  }
}

/* line 647, ../sass/v-general-main.scss */
.v-fullwidth > .v-table {
  margin: 20px;
  width: auto;
      box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
      0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
      0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
      0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
      border-width: 0;
      transition: all .2s;
}
@media (max-width: 768px) {
  /* line 647, ../sass/v-general-main.scss */
  .v-fullwidth > .v-table {
    margin: 20px 0;
  }
}

/* line 657, ../sass/v-general-main.scss */
.v-element-nav {
  position: absolute;
  right: 2px;
  top: 2px;
  bottom: auto;
}
/* line 663, ../sass/v-general-main.scss */
.v-element-nav.v-right-bottom {
  top: auto;
  bottom: 15px;
}
/* line 668, ../sass/v-general-main.scss */
.v-element-nav:hover {
  background-color: #f7f7f7;
}

/* line 676, ../sass/v-general-main.scss */
.v-table .v-element-nav {
  top: 8px;
}
@media (max-width: 768px) {
  /* line 676, ../sass/v-general-main.scss */
  .v-table .v-element-nav {
    position: relative;
    left: 0;
    top: 0;
  }
}
