header.v-general-header {
  background-color: #0E0A32;
  margin: auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
}


header.v-general-header .navbar-brand {
  background: transparent;
  padding: 8px 30px;
}

.logo_vince_live {
  width: 167px;
  height: 41px;
}

header.v-general-header .v-app-chooser .fa {
  color: #fff;
}

header.v-general-header a {
  color: #47CCFC !important
}

header.v-general-header .navbar-nav .active {
  font-weight: 700;
  color:#47CCFC !important
}


.v-general-main-content,
.v-general-main-filters,
.v-general-main-header,
.v-general-main-toolbar,
.v-list,
.v-navbar {
  max-width: 100% !important;
  margin: 0px 40px !important;
}

.v-list {
  margin: 0px !important
}

.v-navbar {
  margin: 0px !important
}

/*v-general-main header*/
.v-general-main-header h1 {
  color: #0E0A32;
  /* font-size: 2rem; */
  font-weight: bold;
}



.v-expandable-list li .v-expandable-details {

  width: 100vw !important;
  text-align: center;
  background: #fff !important;
  border: none !important;
  margin: 30px 0px !important;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
}

.v-expandable-list {
  align-items: flex-start;
  overflow: hidden;
}

.v-expandable-list li {
  background: #fff;
  box-shadow: none !important;
  padding:0px !important;
}

/* .v-expandable-list li:hover{
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
      -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
      -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
} */
.v-expandable-list li.v-open {
  padding: 0px;
  border: none !important;
  background: transparent !important;


}
.v-expandable-details .full-width-view {
  padding: 55px 1px 36px
}

.v-expandable-list li.v-open .v-expandable-summary {
  padding: 10px 20px !important;
  margin: 0px !important;
  border-bottom: 2px solid #54DB8E !important;
  background: #fff !important;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;

}

.v-expandable-list li.v-open .v-expandable-summary::before {
  content: '';
  border-bottom: 20px solid #ffffff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  text-align: center;
  /* left: calc(100vw - 188px); */
  position: r;
  position: absolute;
  right: 50%;
  width: 9%;
  top: 116%;
  margin: 0px auto;
}

.v-expandable-list li .v-expandable-summary {
  left: 0px !important;
      padding: 10px 20px;
}

.v-favorite.v-right-bottom {
  color: #999;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 11px;
  left: auto;
  bottom: auto;
}
/* .header-title{
  margin: 0px !important;
} */
.v-element-nav:hover {
  background-color: transparent;
}

.btn.bg-green{
  background: #54DB8E;
  color: #0B093A;
  border: 0px;
}

/* table*/
.v-wannabe-link,a {
    color: #0B093A !important;
}
.table-striped th{
  background: #fff;
}
.table-striped tbody tr{
  background: #fff !important;
}
.table-striped tr:hover{
  background: #F7F7F9 !important;
   -webkit-box-shadow:inset 2px 2px 92px 2px #EBEBED;
   box-shadow:inset 2px 2px 92px 2px #EBEBED
}
.table-striped tr.expand_view:hover {
  background: transparent !important;
  box-shadow: none;
}
.table-striped tr.expand_view td{
  padding: 0px;
}
.table-striped tr.expand_view{
  background: transparent !important;
}
table tr,
.table tr {
  border-top: 0px solid #f7f7f7;

}

.v-with-sortable-headers .tablesorter-headerRow .sorter-false:hover {
  background-color: #fff;
}

.table_child_inner_view {
  padding: 40px 0px 80px;
  width: 65%;
  margin: 0px auto;
}
.table_child_inner_view::before{
  content: '';
  border-bottom: 20px solid #ffffff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  text-align: center;
  /* left: calc(100vw - 188px); */

  position: absolute;
  left: 1%;
  top: 17px;
  margin: 0px auto;
}


.Expand-collpase-arrow i{
  font-size: 1.5rem;
  padding: 5px 14px;
  vertical-align: bottom
}
body{
  background: #F7F7F9 !important
}

.v-worflow-view ul li{
  float: left;
  margin-right: 40px;
}
.v-worflow-view ul li::after{
    content: "";
    width: 59px;
    border-top: 2px solid #f3f3f5;
    position: absolute;
    left: auto;
    top: 49%;
    margin-top: 1px;
}
.table_child_inner_view .v-worflow-view ul li::after{
   top: 44%;
   margin-top: 1px;
}
.table_child_inner_view .btn.btn-gray {

  top: -4px;
  left: -43px;
}
.table_child_inner_view .v-worflow-view ul li:first-child::after{
      width: 110px;
}
.v-worflow-view ul li a {
  padding: 13px 40px 13px 18px;
  background: #F3F3F5;
}

.btn.btn-gray{
background: transparent;
border: 0px;
border-radius: 30px;
background: #F3F3F5;
position: relative;
top: -4px;
left: -10px;
}
.active-highlight td {
  border-bottom: 2px solid #54DB8E;
}

table.vince_live_table tr td:nth-child(2) {
  color: red !important;
} 
.table_child_inner_view {
  /* padding: 40px 0px 80px; */
  width: 100%;
  margin: 35px auto;
  background: #fff !important;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px;
}
.table_child_inner_view tr.expand_view{
  background: transparent !important
}
.table_child_inner_view .full-width-view{
  width: 50%;
  margin: 0px auto;
}
table{
  border-bottom: 0px !important;
}
.table td,
.table th{
  border-top: 0px;
}