/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 6, ../sass/v-modal.scss */
.v-modal .v-modal-large {
  max-width: 1000px;
}
/* line 10, ../sass/v-modal.scss */
.v-modal .modal-title {
  color: #000;
}
/* line 16, ../sass/v-modal.scss */
.v-modal .modal-body h6 {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #000;
}
/* line 22, ../sass/v-modal.scss */
.v-modal .modal-body .v-form-h6-wannabe {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
}
/* line 28, ../sass/v-modal.scss */
.v-modal .modal-body .v-form-block {
  margin-bottom: 30px;
}
/* line 31, ../sass/v-modal.scss */
.v-modal .modal-body .v-form-block .form-check {
  margin-bottom: 10px;
}
