.v-new-dashboard-view {
  background-color: transparent;
  max-width: 800px;

}

.v-new-dashboard-view .v-new-dashboard-header h1,
.v-new-dashboard-view .v-new-dashboard-header .v-desciption {
  color: #868498;
  font-weight: bold;
}

.v-new-dashboard-view .v-new-dashboard-header a {
  padding: 5px;
  margin: 10px;
  background: #EBEBED;
  text-decoration: none;
  display: inline-flex;
}

.v-new-dashboard-view .v-new-dashboard-header .fas {
  font-size: 1rem;
  padding: 7px;
}

.v-new-dashboard-view .v-new-widget-body .v-new-add-widget-view {
  background: #fff;

}

.v-create-widget {
  display: grid;
}

.v-create-widget ul li {
  padding: 20px;
  float: left;
  cursor: pointer;
  display: flex;
  width: 45%;
  margin: 1rem;
  background-color: #F7F7F9;
}

.v-create-widget ul li:hover {
  background-color: #ECECF0;
}

.v-widget-icon .v-widget-icon {
  padding: 20px;
}

.v-widget-icon i {
  font-size: 4.4rem;
  color: #0E0A32;
  margin: 0px 3rem 0px 1rem;
}

.v-widget-text {
  padding-top: 33px;
  font-weight: bold;
}

.v-create-common-view .v-header {
  padding: 10px 10px 5px;
}

.v-create-common-view .v-create-widget-body {
  padding: 0 10px 10px 10px;
}

.v-create-common-view {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  border-radius: 3px;
  padding: 5px;
}

.v_common_toogle.box_hidden .v_info_box {
  display: none;
}

.v_common_toogle.widget_hidden .v-new-add-widget-view,
.v_common_toogle.widget_hidden .v-created-new-widget {
  display: none;
}

.v_common_toogle.box_hidden .v-created-new-widget,
.v_common_toogle.created_widget.box_hidden .v-new-add-widget-view {
  display: none;
}

.v_common_toogle.box_hidden.created_widget .v-created-new-widget {
  display: block;
}

.v_bg_blue {
  background: #47CBFC;
}

.widget_created .v-widget-icon i {
  font-size: 2.5rem;
  margin: 0px 2rem 0px 0px;
}

.border-dark {
  border-color: #0e0a32;
}

.hash {
  font-size: 2rem;
}