.table-striped th {
  background: #fff;
}

.table-striped tbody tr {
  background: #fff !important;
}

.table-striped tr:hover {
  background: #F7F7F9 !important;
  -webkit-box-shadow: inset 2px 2px 92px 2px #EBEBED;
  box-shadow: inset 2px 2px 92px 2px #EBEBED
}

.table-striped tr.expand_view:hover {
  background: transparent !important;
  box-shadow: none;
}

.table-striped tr.expand_view td {
  padding: 0px;
}

.table-striped tr.expand_view {
  background: transparent !important;
}

table tr,
.table tr {
  border-top: 0px solid #f7f7f7;

}

table td {
  border-top: 0px !important;
  font-weight: 400
}

table,
table a,
.v-wannabe-link {
  color: #0B093A !important;
  border: 0px !important;
}

table .active-highlight td {
  border-bottom: 2px solid #54DB8E;
}

.v-with-sortable-headers .tablesorter-headerRow .sorter-false:hover {
  background-color: #fff;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}


/*table inner expand and collpase view*/
.table_child_inner_view {
  padding: 40px 0px 80px;

  width: 100%;
  margin: 15px auto;
  background: #fff !important;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  border-radius: 3px;
}


.table_child_inner_view::before {
  content: '';
  border-bottom: 20px solid #ffffff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  text-align: center;
  /* left: calc(100vw - 188px); */

  position: absolute;
  left: 1%;
  top: 2px;
  margin: 0px auto;
}

.table_child_inner_view .v-worflow-view ul li::after {
  top: 10px;
  margin-top: 1px;
}

.table_child_inner_view .btn.btn-gray {

  top: -4px;
  left: -43px;
}

.table_child_inner_view .v-worflow-view ul li:first-child::after {
  width: 110px;
}


.table_child_inner_view .full-width-view {
  width: 84%;
  margin: 0px auto;
}

.table_child_inner_view .btn.btn-gray {
  top: -4px;
  left: -43px;
}

.btn.btn-gray {
  background: transparent;
  border: 0px;
  border-radius: 30px;
  background: #F3F3F5;
  position: relative;
  top: -4px;
  left: -10px;
}




/*repots table*/


.v-reports_table {
  width: 66%;
}

.table .v-favorite {
  top: 13px;
}