.v-tabs-view .nav-link {
    display: block;
    padding: 0rem 0.2rem;
    margin: 0px 0.2rem;
}
.v-tabs-view .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    padding: 0px 0.6rem;
}
.v-tabs-view .nav-tabs .nav-link.active {
    color: #0B093A;
    background-color: #fff;
    border-color: #ffffff #ffffff #54DB8E;
}
.v-tabs-view .nav-tabs .nav-link {
    border: 2px solid transparent;
    color: #868498;
    font-weight: 500;
}

.v-position-top {
    position: relative;
    top: 6px;
}