.btn {
  color: #0e0a32;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #47ccfc;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #54db8e !important;
  color: #0e0a32;
   font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #54db8e !important;
    color: #0e0a32;
    font-weight: bold;
}
.btn-primary {
  background-color: #54db8e;
  border-color: #54db8e;
}
.btn-outline-primary{
    border-color: #54db8e;
}
.delete:hover{
  color: #FF7A4A;
}
.delete{
  padding: 10px;
  width: 100%;
  font-weight: bold;
  margin: 0.5rem;
  text-align: left;
  border: 2px solid #FF7A4A;
  color:#FF7A4A;
}
