.v-worflow-view ul li {
  float: left;
  margin-right: 40px;
  position: relative;
}

.v-worflow-view{
  position: relative;
}

.v-worflow-view ul li::after {
  content: "";
  width: 59px;
  border-top: 2px solid #f3f3f5;
  position: absolute;
  left: auto;
  top: 10px;
  margin-top: 1px;
}

.v-worflow-view ul li a {
  padding: 13px 40px 13px 18px;
  background: #F3F3F5;
}

.v-worflow-view.v-link-white-bg  ul li a {
   
    padding: 13px 40px 13px 18px;
    background: #fff;
  
}
.v-worflow-view.v-link-white-bg ul li::after {
  content: "";
  width: 39px;
  border-top: 2px solid #868498;
  position: absolute;
  left: auto;
  top: 10px;
  margin-top: 1px;
}
.v-worflow-view.v-link-white-bg ul li .v-element-nav .nav-link{
  padding: 0px;
}
.v-worflow-view.v-link-white-bg ul li .v-element-nav{
  right: 10px;
  top: 0px;
}
.v-worflow-view.v-link-white-bg ul li .v-element-nav .dropdown-menu .dropdown-item {
  padding: 10px 30px 10px 16px;
}

.v-worflow-view.v-link-white-bg ul li:last-child::after{
  width: 0px;
}

.v-element-nav .dropdown-menu .dropdown-item:hover{
    background: #F4F3F5;
    color: #0b093a;
}
.v-element-nav .dropdown-menu{
  padding: 0px;
  border: 0px;
     box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
     -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
     -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
}

.v-workflow-center{
      width: 80%;
      margin: 29% auto;
}

.v-circle-plus .dropdown-toggle.v-dropdown-toggle {
        padding: 10px 16px !important;
        position: relative;
        top: -11px;
        background: #fff;
        right: -55px;
        border-radius: 32px;
}