.v-expandable-list li .v-expandable-details {

  width: 100vw !important;
  text-align: center;
  background: #fff !important;
  border: none !important;
  margin: 30px 0px !important;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
}

.v-expandable-list {
  align-items: flex-start;
  overflow: hidden;
}

.v-expandable-list li {
  background: #fff;
  box-shadow: none !important;
  padding: 0px !important;
}

/* .v-expandable-list li:hover{
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
      -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
      -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
} */
.v-expandable-list li.v-open {
  padding: 0px;
  border: none !important;
  background: transparent !important;


}

.v-expandable-details .full-width-view {
  padding: 55px 1px 36px
}

.v-expandable-list li.v-open .v-expandable-summary {
  padding: 10px 20px !important;
  margin: 0px !important;
  border-bottom: 2px solid #54DB8E !important;
  background: #fff !important;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.05) !important;

}

.v-expandable-list li.v-open .v-expandable-summary::before {
  content: '';
  border-bottom: 20px solid #ffffff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  text-align: center;
  /* left: calc(100vw - 188px); */
  position: r;
  position: absolute;
  right: 50%;
  width: 9%;
  top: 116%;
  margin: 0px auto;
}

.v-expandable-list li .v-expandable-summary {
  left: 0px !important;
  padding: 10px 20px;
}

.v-favorite.v-right-bottom {
  color: #999;
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 11px;
  left: auto;
  bottom: auto;
}

/* .header-title{
  margin: 0px !important;
} */
.v-element-nav:hover {
  background-color: transparent;
}

.v-expandable-list .btn.btn-gray {
  background: transparent;
  border: 0px;
  border-radius: 30px;
  background: #F3F3F5;
  position: relative;
  top: -4px;
  left: -10px;
}