.v-select-api-wrapper .v-select-api.add-api {
    color: #0E0A32;
}

.v-select-api-wrapper .v-select-api.add-api .v-select-api-search .form-group {
    background: #fff;
    padding: 0;
}

.v-select-api-wrapper .v-select-api.add-api .v-select-api-search .form-group label {
    font-weight: bold;
}

.v-select-api-wrapper .v-select-api.add-api .v-select-api-search .form-group i {
    color: #0E0A32;
    font-size: 12px;
}

.v-select-api-wrapper .v-select-api.add-api .v-select-api-search .form-group i::before {
    border: 1px solid #5BDF97;
    padding: 3px 7px;
    border-radius: 34px;
}

.v-select-api .v-select-api-head h3 {
    color: #0E0A32;
}

/* .v-select-api .v-select-api-actions a{
    background: #0E0A32;
} */

.v-select-api .v-select-api-actions .btn-gray {
    background: #F7F7F9;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    text-decoration: none;
    margin: 0px;
}

.btn-gray {
    background: #F7F7F9;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    text-decoration: none;
    margin: 0px;
}

.v-select-api-search .form-group {
    margin-bottom: 15px;
    background: #fff;
}

.v-select-api .v-select-api-list {
    border-top: 0px;
    box-shadow: none;

}

.v-select-api .v-select-api-list ul li a {
    vertical-align: top;
    display: flex;
    padding: 0px;
    position: relative;

}

span.v-left-bg-green,
span.v-right-bg-green {
    background: #bdefcf;
}

.v-right-bg-green {
    position: absolute;
    right: 0px;
}

.v-right-bg-green .bg-green-mapping {
    padding: 8px;
    ;
}

.bg-green-mapping,
.mapping-gray {
    background: #BDEFCF;
    padding: 8px;
    width: 35px;
    margin-top: 7px;
}

.overview-btn {
    display: flex;
    background: #ebebed;
    padding: 4px 15px 4px 0px;
}

.overview-btn span {
    display: block;
    margin-top: 4px;
}

.mapping-gray {
    background: #EBEBED;
    float: left;
    margin: 0px;
    width: 33px;
    padding: 8px;
}

span.v-left-bg-green::before {
    content: '';
    border-bottom: 12px solid #BDEFCF;
    border-left: 7px solid transparent;
    border-right: 10px solid transparent;
    text-align: center;
    position: absolute;
    left: 29px;
    width: 0px;
    top: 18px;
    margin: 0px auto;
    transition: inherit;
    transform: rotate(90deg);
}

span.v-right-bg-green::before {
    content: '';
    border-bottom: 12px solid #f7f7f9;
    border-left: 7px solid transparent;
    border-right: 10px solid transparent;
    text-align: center;
    position: absolute;
    left: -7px;
    width: 0px;
    top: 18px;
    margin: 0px auto;
    transition: inherit;
    transform: rotate(90deg);
}

.text-mapping {
    display: block;
    width: 100%;
    padding: 10px;
}

.v-select-api .v-select-api-list ul li {
    background-color: #F7F7F9;

}

.v-add-api {
    vertical-align: top;
}

.btn-primary:hover {
    border-color: #54db8e;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #000;
}

aside.v-aside .v-aside-head {
    font-weight: 700;
    font-size: 1.1rem;
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    padding: 18px;
    border-bottom: 1px solid #dbdbe1;
}

aside.v-aside .v-aside-body {
    box-shadow: none;
    border-top: 0;
}


input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}