.grouped-by ul li a{
color: #868498;
text-decoration: none;
}



.apperance .custom-select span {
    font-size: 1rem;
}

.apperance .custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.apperance .custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    /* border-width: 0 2px 0 2px; */
    border-style: solid;
    border-color: #394a6d;
    padding: .375rem 0.75rem .375rem .75rem;
}



.apperance .custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    /* line-height: 60px; */
    background: #ffffff;
    cursor: pointer;
    /* border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d; */
}

.apperance .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.apperance  .custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.apperance .custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    /* line-height: 60px; */
    cursor: pointer;
    transition: all 0.5s;
}

.apperance .custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}

.apperance .custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
}


.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    /* transition: all 0.5s; */
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}