/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-general-header.scss */

header.v-general-header {
  background-color: #0E0A32;
  margin: auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 99;

  .v-navbar {
    max-width: 1400px;
    margin: auto;
  }

  .v-navbar-nav {
    margin-bottom: -2px;
  }

  .v-no-arrow {
    i {
      margin-left: 5px;
      margin-right: 5px;
    }

    &:after {
      display: none;
    }
  }
}

/* line 9, ../sass/v-general-header.scss */

/* line 14, ../sass/v-general-header.scss */

/* line 17, ../sass/v-general-header.scss */

/* line 25, ../sass/v-general-header.scss */

/* line 30, ../sass/v-general-header.scss */

@media (max-width: 768px) {
  /* line 36, ../sass/v-general-header.scss */

  header.v-general-header .v-profile {
    order: 1;
    border-top: 1px solid #e9ecef;
    margin-top: 20px;
  }
}

.logo_vince_live {
  width: 130px;
  height: 41px;
}

header.v-general-header {
  background-color: #0E0A32;
  margin: auto;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    background: transparent;
    padding: 8px 30px;
    margin: -0.5rem 0rem -0.5rem -1rem;
  }

  .v-app-chooser .fa {
    color: #fff;
  }

  a {
    color: #47CCFC;
    border-bottom: none;
  }
}

/* .logo_vince_live {
  width: 167px;
  height: 41px;
} */

.v-general-header {
  .right-navbar a.nav-link:hover {
    color: #47CCFC;
    border-bottom: none;
  }

  .navbar-collapse {
    margin-right: 3%;
  }

  .right-navbar a {
    color: #fff;
  }

  .navbar-nav .nav-link {
    &:hover, &.active {
      color: #fff;
      border-bottom: 1px solid #fff;
    }

    padding: 0px;
    margin: 0px 0.5rem;
  }

  .dropdown-menu {
    position: static;
    float: none;
    background: #0e0a32;

    .dropdown-item {
      padding: 0.25rem 1.5rem;
    }
  }

  .dropdown-item {
    &:focus, &:hover {
      color: #fff;
      background-color: #399dcb;
    }
  }
}