header.v-editor-header.v-hidden {
    left: -260px;
    overflow: visible;
}

header.v-editor-header.v-hidden .v-show-menu {
    /* display: block; */
    position: fixed;
    left: 20px;
    top: 21px;
    transition: left 500ms;
}

.v-editor-header .v-show-menu {
    /* display: none; */
    opacity: 0;
}

header.v-editor-header.v-hidden .v-show-menu {
    -webkit-animation: 800ms ease 0s normal forwards 1 fadein;
    animation: 800ms ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* .v-editor-header.v-hidden .v-editor-view-content{
    display: block;
} */



header.v-editor-header.v-hidden+div main.v-editor-main {
    padding-left: 144px;
}

.home-links {
    flex-direction: row;
}

.home-links a {
    padding: 10px;
    margin: 10px;
    background: #EBEBED;
    text-decoration: none;
}

.workflowsidebar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.headerText {
    word-break: break-word;
}

#workflow-status-alert {
    position: fixed;
    height: 75px;
    width: 500px;
    top: 25px;
    left: calc(50% - 215px);
    display: inline-table;
}

.v-nav-client {
    cursor: pointer;
    display: block !important;
}

.v-nav-client .nav-link {
    border: none !important;
    padding: 7px 10px !important;
    background-color: #f7f7f7 !important;
    margin: 0 0 5px 10px !important;
}

.form-group {
    padding: 10px;
    background-color: #fff;
}

header.v-editor-header .v-editor-header-body {
    height: calc(100vh - 325px);
    overflow: auto;
    flex-basis: auto;
}

header.v-editor-header .v-header-actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    right: 0px;
    z-index: 99;
    padding: 12px 15px 14px !important
}

header.v-editor-header .v-header-actions .form-group {
    padding: 0px;
    background-color: transparent;
    margin: 0px;
}

header.v-editor-header {
    overflow: hidden;
}

.workflow-name {
    color: #000;
    padding-left: 0px;
    margin-top: 15px;
}

.highlight:hover {
    background-color: #f0f1f3;
    cursor: pointer;
}

header.v-editor-header .v-header-actions {
    position: relative;
}

main.v-editor-main .v-editor-main-header {
    box-shadow: none
}




/*ASSIDE */
main.v-editor-main.v-hidden .v-editor-main-header {
    padding-right: 200px;
}

aside.v-aside.v-hidden {
    right: -340px;
    overflow: visible;
    padding-left: 80px;
}

aside.v-aside.v-fixed {
    overflow: hidden;
}

aside .v-show-menu {
    position: fixed;
    right: 41px;
    top: 19px;
    opacity: 0;
}

.v-aside.v-fixed.v-hidden .v-show-menu {
    -webkit-animation: 800ms ease 0s normal forwards 1 fadein;
    animation: 800ms ease 0s normal forwards 1 fadein;
}


.bg-sky-blue {
    background: #E1F7FE
}


.v-editor-header .workflowsidebar .nav .nav-item .nav-link {
    font-weight: normal;
    padding: 7px 20px;
    width: 100%;
}

.v-editor-header .workflowsidebar .nav .nav-item .nav-link:hover {
    background: #E1F7FE
}

header.v-editor-header .v-nav-item {
    width: 100%;
    margin-left: 0px;
}

header.v-editor-header .v-nav {
    display: block;
}

.v-editor-header-head .v-line hr {
    margin: 0rem 1.5rem 1rem;
}