.v-general-main-filters {
  border: 0px !important;
}

.v-general-main-filters h4 {
  color: #0E0A32;
  /* font-size: 2rem; */
  font-weight: bold;
}

.search-field {
  position: relative;
  /* width: 25%; */
}

.search-field .form-control {
  border-radius: 20px;
  border: 0px;
  width: 100%;
}

.search-field .fa-search {
    position: absolute;
    right: 1.5rem;
    top: 11px;
    color: #868498;
    z-index: 99;
}

.btn.btn_bars {
  border: 0px;
  border-radius: 20px;
  background: #fff;
}