.v-create-template {
    background: #fff;
}

.v-create-template .v-create-workflow ul {
    display: inline-block;
}

.v-create-template .v-create-workflow .v-worflow-view ul li:last-child::after {
    display: none;
}

.v-create-template .v-create-header h5,
.v-create-template .v-create-workflow label {
    font-weight: bold;
}

.v-create-template .v-create-workflow .v-worflow-view ul li a {
    text-decoration: none;
    background-color: #F7F7F9;
    padding: 10px 20px 10px 10px;
}

i.v-border-green::before {
    border: 1px solid #5BDF97;
    padding: 3px 7px;
    border-radius: 34px;
}

i.v-border-green {
    color: #0E0A32;
    font-size: 12px;
}

.v-fc-gray {
    color: #868498;
}

.v-create-container {
    max-width: 500px;
    min-width: 500px;
}

.v-add-component a {
    padding: 10px;
    font-weight: bold !important;
    margin: 10px;
    background: #F7F7F9 !important;
    text-decoration: none;
}