.excelConfig-page {
  position: relative;
  max-height: calc(100vh - 52px) !important;
  overflow: hidden !important;
  margin-top: 0px;
  padding: 0 40px 0 0;
  transition: 500ms;
}
.drawerOpen{
  padding: 0 400px 0 0;
}
.excel-table {
  border-collapse: collapse;
  background: #F7F7F9;
  margin: 0;
}
.excel-table tr th {
  color: #a9a9a9 !important;
  font-weight: 600 !important;
  text-align: center;
}
.excel-table tr th, .excel-table tr td {
    font-weight: 400;
    border-bottom: none;
    padding: 0;
    font-size: 16px;
    border: 1px solid #e2e2e2;
}
.excel-table td {
  white-space: nowrap;
}
.excel-table td {
  min-width: 100px;
  position: relative;
}
.excel-table th:first-child,
.excel-table td:first-child {
  min-width: 40px;
  width: 40px !important;
  text-align: center !important;
  color: #a9a9a9;
}
.excel-template {
  overflow: auto;
  width: 100%;
  display: inline-block;
  height: calc(100vh - 53px);
  border: 1px solid #ccc;
}
.v-text-field {
  width: 100%;
  margin: 5px 0;
  margin-left: 0;
}
.sidebar {
  display: block;
  position: absolute;
  right: 0;
  width: 399px;
  background: #ffffff;
  height: calc(100vh - 5px);
  border: 1px solid #000000;
  border-right: none;
  padding: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  top:0;
}
.sidebar a,
.column-data a {
  text-align: right;
  width: 100%;
  display: block;
  color: #1976d2 !important;
  font-weight: 600 !important;
  text-decoration: none;
}
.drag-cards {
  background: #e6e6e6;
  margin: 10px 0;
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
}
.workflow-message {
    margin: 0 10px 10px;
}
.drag-cards span {
  font-size: 10px;
  font-weight: 400;
}
.drag-cards.selected {
    border: 1px solid #dadada;
    border-radius: 7px;
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.inner-column{
  --cellFontWeight: 400;
  --cellUnderline: none;
  --cellItalic: normal;
  --cellFontSize: 16;
  --cellTextAlign: left;
  --cellColor: #000000;
  --cellBackground: #f7f7f9;
  --cellBorder: 0px solid #868686;
}
.excel-table .inner-column{
   font-weight: var(--cellFontWeight);
  text-decoration: var(--cellUnderline);
  font-style: var(--cellItalic);
  font-size: var(--cellFontSize);
  text-align: var(--cellTextAlign);
  color: var(--cellColor);
  background: var(--cellBackground);
  border: var(--cellBorder);
  min-height: 28px;
  padding: 2px 3px;
}
.droparea{
  --cellFontWeight: 400;
  --cellUnderline: none;
  --cellItalic: normal;
  --cellFontSize: 16;
  --cellTextAlign: left;
  --cellColor: #000000;
  --cellBackground: #f7f7f9 ;
  --cellBorder: 0px solid #868686;
}
.dropspace{
  --cellFontWeight: 400;
  --cellUnderline: none;
  --cellItalic: normal;
  --cellFontSize: 16;
  --cellTextAlign: left;
  --cellColor: #000000;
  --cellBackground: #ffffff;
  --cellBorder: 1px solid #868686;
}
.excel-table .droparea{
   font-weight: var(--cellFontWeight);
  text-decoration: var(--cellUnderline);
  font-style: var(--cellItalic);
  font-size: var(--cellFontSize);
  text-align: var(--cellTextAlign);
  color: var(--cellColor);
  background: var(--cellBackground);
  border: var(--cellBorder);
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.excel-table .dropspace {
  font-weight: var(--cellFontWeight);
  text-decoration: var(--cellUnderline);
  font-style: var(--cellItalic);
  font-size: var(--cellFontSize);
  text-align: var(--cellTextAlign);
  color: var(--cellColor);
  background: var(--cellBackground);
  border: var(--cellBorder);
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.drop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}
.delete-icon {
  position: absolute;
  right: 0;
  z-index: 10;
  top: 0;
  padding: 0px 5px;
  display: none;
  background: #ffffff;
  margin: 1px 0;
  font-size: 17px;
}
.column-data:hover .delete-icon {
  display: block;
}
.card-title{
  margin: 0;
}
header.v-editor-header.v-font-sidebar.v-hidden {
    right: -400px;
    left: auto;
}
header.drag-sidebar.v-editor-header.v-hidden {
    right: -360px !important;
    left: auto;
}
.drag-sidebar.v-editor-header.v-hidden .toggle-container {
    margin-left: 40px;
}
header.v-font-sidebar.v-editor-header {
    right: 0;
    left: auto;
    position: absolute;
    transition: right 250ms;
    overflow: auto;
    display: block;
    padding: 30px 20px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}
header.drag-sidebar.v-editor-header {
    padding: 0;
    top: 0;
    left: auto;
    right: 0;
    position: absolute;
    transition: right 500ms;
    overflow: hidden;
}
header.v-font-sidebar .v-editor-header-toggle, header.drag-sidebar span.v-editor-header-toggle{
  left: 0;
  right: auto;
}
header.v-editor-header.v-hidden .v-editor-header-toggle{
    position: absolute;
    height: 100vh;
    z-index: 3;
}
.input-field {
    margin: 7px 0 5px;
}
#setting-page {
    padding: 10px 0;
}
.custom-control.custom-switch {
    margin: 5px 5px;
}
.hover-text{
    display: none;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0 0 0 5px;
    width: 100%;
    color: #000;
    height: 100%;
    background: #fff;
    text-align: left;
    vertical-align: middle;
    line-height: 32px;
}
.header-input{
    --headerCellWidth: 0;
    --headerCellPadding: 0;
}
.header-input{
    width: var(--headerCellWidth);
    padding: var(--headerCellPadding);
    outline: 0 !important;
    border: 0 !important;
    background: #ffffff;
    height: 100%;
    position: relative;
}
#excel-uploader{
    outline: none;
}
.static-container {
    position: sticky;
    background: #ffffff;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 2;
}
.excelConfig-page header.v-editor-header {
    flex-basis: 400px;
    width: 400px;
}
.toggle-container::-webkit-scrollbar {
  width: 8px;
}
.toggle-container::-webkit-scrollbar-track {
  background: #ededed;
}
.toggle-container::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: 1px solid #ededed;
}
.toggle-container{
    max-height: 400px;
    overflow-y: auto;
    padding: 0px;
}
.toggle-container.inner-expand-card{
    max-height: none;
    padding: 5px;
}
.expand-card.outer-card {
    position: sticky;
    left: 0;
    top: 0px;
    width: 100%;
    background: #fff;
    padding: 5px 5px;
    margin: 0px 0 0 0;
    z-index: 2;
}
.filter-input{
    position: sticky;
    margin: 5px 5px !important;
    width: calc(100% - 10px);
    top: 0;
    left: 0;
    transition-property: top;
    transition-delay: 2s;
    z-index: 2;
}
.collapse.show .filter-input {
    top: 32px;
}
.check-all-fields{
    margin: 10px 0px 0;
}
.col-set {
    width: 32%;
    display: inline-block;
    padding: 4px 10px;
}
.col-set label {
    display: block;
    margin-bottom: 0px;
}
.add-new, .remove-item {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 30px;
    color: #0a7efb;
}
.remove-item {
    color: #a00e0e;
}
.modal-footer {
    position: sticky;
    width: calc(100% + 2rem);
    padding: 10px 50px;
    bottom: 0px;
    background: #f7f7f7;
    margin: 0 0 0 -1em;
}
.modal-footer button {
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 30px;
    color: #0a7efb;
}
.warning-msg{
    color: red;
    font-size: 12px;
}
.cell-option {
    float: right;
    padding: 4px 8px;
}
.suggestion-header{
    font-weight: 500;
    padding: 6px 0 0 5px;
    border-bottom: 1px solid #000;
    background: #f3f3f3;
}


.excelConfig-page{
  padding-right: 0;
}

header.v-editor-header.v-hidden+div main.v-editor-main.excel {
  padding-left: 12px;
}

main.v-editor-main .v-editor-main-content.excel {
    padding-right: 0px;
    overflow: hidden;
    padding-top: 0rem;
}

main.v-editor-main.v-hidden.excel .v-editor-main-header {

  padding-top: 21px;
}
header.v-editor-header.v-hidden+div main.v-editor-main.excel .v-editor-main-header{
  padding-left: 156px;
}