.custom-control-label::before {
    border: #0b093a solid 1px;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #5BDF97;
    background-color: transparent;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {

    background: #0e0a32;
    border-radius: 87%;
    width: 8px;
    height: 8px;
}

.custom-control-label::after {
       top: 8px;
       left: -20px;
}

.custom-switch .custom-control-label::after {   
    background-color: #0b093a;

}