/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-overrides-bootstrap.scss */
table, .table {
  border-bottom: 1px solid #dee2e6;
  margin: 20px 0;
  border-top: none;
}
/* line 9, ../sass/v-overrides-bootstrap.scss */
table .form-group, .table .form-group {
  margin-bottom: 0;
}
/* line 15, ../sass/v-overrides-bootstrap.scss */
table thead tr, .table thead tr {
  border-top: none;
}
/* line 18, ../sass/v-overrides-bootstrap.scss */
table thead tr th, .table thead tr th {
  font-weight: 700;
  white-space: nowrap;
  border-top: none;
  border-bottom: none;
}
/* line 29, ../sass/v-overrides-bootstrap.scss */
table th, table td, .table th, .table td {
  padding: 10px;
  vertical-align: middle;
  position: relative;
}
/* line 34, ../sass/v-overrides-bootstrap.scss */
table tr, .table tr {
  border-top: 1px solid #000;
}
@media (max-width: 768px) {
  /* line 34, ../sass/v-overrides-bootstrap.scss */
  table tr, .table tr {
    border-top: none;
  }
}
@media (max-width: 768px) {
  /* line 4, ../sass/v-overrides-bootstrap.scss */
  table, .table {
    margin: 10px 0;
  }
}

/* line 49, ../sass/v-overrides-bootstrap.scss */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
@media (max-width: 768px) {
  /* line 49, ../sass/v-overrides-bootstrap.scss */
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
  }
}

/* line 58, ../sass/v-overrides-bootstrap.scss */
.btn-primary {
  background-color: #0579C9;
  border-color: #0579C9;
}
/* line 62, ../sass/v-overrides-bootstrap.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #025c7d;
}

/* line 67, ../sass/v-overrides-bootstrap.scss */
.btn-outline-primary {
  color: #0579C9;
  border-color: #0579C9;
}
/* line 71, ../sass/v-overrides-bootstrap.scss */
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: #025c7d;
  color: #fff;
}

/* line 77, ../sass/v-overrides-bootstrap.scss */
.btn-link {
  color: #0579C9;
}
/* line 80, ../sass/v-overrides-bootstrap.scss */
.btn-link:hover {
  color: #0579C9;
}

/* line 85, ../sass/v-overrides-bootstrap.scss */
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  background-color: #0579C9;
  border-color: #0579C9;
  color: #fff;
}

/* line 90, ../sass/v-overrides-bootstrap.scss */
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0579C9;
  border-color: #0579C9;
  color: #fff;
}

/* line 95, ../sass/v-overrides-bootstrap.scss */
.btn.disabled, .btn:disabled {
  opacity: .45;
  background-color: #ccc;
  border-color: #999;
  color: #666;
}

/* line 101, ../sass/v-overrides-bootstrap.scss */
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #0579C9;
  border-color: #0579C9;
  color: #fff;
}

/* line 106, ../sass/v-overrides-bootstrap.scss */
aside.v-aside .v-aside-head .btn {
  margin-top: -5px;
  cursor: pointer;
}

/* line 111, ../sass/v-overrides-bootstrap.scss */
.v-workflow-components .btn {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

/* line 117, ../sass/v-overrides-bootstrap.scss */
.v-workflow-defaults .form-group {
  margin: 0 20px;
}

/* line 121, ../sass/v-overrides-bootstrap.scss */
.v-workflow-defaults .btn {
  margin-right: 20px;
}

/* line 124, ../sass/v-overrides-bootstrap.scss */
.v-header-actions-primary .btn {
  margin-bottom: 10px;
  transition: background-color 1s, color 1s;
}

@media (max-width: 768px) {
  /* line 128, ../sass/v-overrides-bootstrap.scss */
  .btn-lg {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
  }
}

/* line 140, ../sass/v-overrides-bootstrap.scss */
main.v-general-main .nav-tabs {
  border: none;
}
/* line 143, ../sass/v-overrides-bootstrap.scss */
main.v-general-main .nav-tabs .nav-link {
  border: none;
}
/* line 146, ../sass/v-overrides-bootstrap.scss */
main.v-general-main .nav-tabs .nav-link.active {
  color: #000;
  font-weight: 700;
  background-color: transparent;
  border: none;
}
/* line 153, ../sass/v-overrides-bootstrap.scss */
main.v-general-main .nav-tabs .nav-link:focus, main.v-general-main .nav-tabs .nav-link:hover {
  border: none;
}
/* line 161, ../sass/v-overrides-bootstrap.scss */
main.v-general-main .tab-pane {
  position: relative;
}

/* line 167, ../sass/v-overrides-bootstrap.scss */
.v-element-nav .dropdown-toggle::after {
  display: none;
}

/* line 170, ../sass/v-overrides-bootstrap.scss */
.dropleft .dropdown-toggle::before {
  display: none;
}

/* line 174, ../sass/v-overrides-bootstrap.scss */
.v-select-api-search .form-group {
  margin-bottom: 15px;
}

/* line 178, ../sass/v-overrides-bootstrap.scss */
label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 500;
}

/* line 183, ../sass/v-overrides-bootstrap.scss */
aside.v-aside .form-group label {
  font-weight: 400;
}

/* line 187, ../sass/v-overrides-bootstrap.scss */
.form-check-inline .form-check-input {
  margin-top: -5px;
}

/* line 191, ../sass/v-overrides-bootstrap.scss */
.alert {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
/* line 198, ../sass/v-overrides-bootstrap.scss */
.alert ul li {
  list-style: square;
  margin-left: 20px;
}
@media (max-width: 1400px) {
  /* line 191, ../sass/v-overrides-bootstrap.scss */
  .alert {
    margin-right: 40px;
    margin-left: 40px;
  }
}
@media (max-width: 768px) {
  /* line 191, ../sass/v-overrides-bootstrap.scss */
  .alert {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* line 217, ../sass/v-overrides-bootstrap.scss */
.v-general-main-header + .alert {
  margin-top: 20px;
}

/* line 221, ../sass/v-overrides-bootstrap.scss */
.navbar-brand {
  margin-right: 1rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 700;
  color: #f9f9f9;
  padding: 16px 30px;
  background: #000;
  text-transform: uppercase;
  margin: -0.5rem 2rem -0.5rem -1rem;
}
@media (max-width: 768px) {
  /* line 221, ../sass/v-overrides-bootstrap.scss */
  .navbar-brand {
    font-size: 12px;
    padding: 15px 20px;
  }
}

/* line 242, ../sass/v-overrides-bootstrap.scss */
.navbar-nav .active {
  font-weight: 700;
}
/* line 245, ../sass/v-overrides-bootstrap.scss */
.navbar-nav .active a {
  color: #000;
}
@media (max-width: 768px) {
  /* line 240, ../sass/v-overrides-bootstrap.scss */
  .navbar-nav {
    order: 0;
    width: 100%;
  }
  /* line 255, ../sass/v-overrides-bootstrap.scss */
  .navbar-nav .nav-link {
    padding: 10px 5px 5px;
  }
}

/* line 263, ../sass/v-overrides-bootstrap.scss */
.pagination {
  margin-bottom: 15px;
}

/* line 266, ../sass/v-overrides-bootstrap.scss */
.v-fullwidth .pagination {
  margin: 15px 20px;
}

/* line 270, ../sass/v-overrides-bootstrap.scss */
.nav-link, .dropdown-item {
  position: relative;
}

/* line 273, ../sass/v-overrides-bootstrap.scss */
.dropdown-header {
  color: #000;
  font-weight: 600;
}

@media (max-width: 768px) {
  /* line 280, ../sass/v-overrides-bootstrap.scss */
  .v-general-header .navbar-collapse {
    margin-top: 10px;
  }

  /* line 284, ../sass/v-overrides-bootstrap.scss */
  .v-general-header .navbar-collapse.show {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* line 291, ../sass/v-overrides-bootstrap.scss */
  .v-general-header .navbar-nav .dropdown-menu {
    margin: 0;
    padding: 0;
    border: none;
  }

  /* line 297, ../sass/v-overrides-bootstrap.scss */
  .v-general-header .dropdown-item {
    padding: 10px 5px 5px;
    color: #0579C9;
  }
}
