/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-overrides-fontawesome.scss */
.fa-exclamation-circle {
  color: #0579C9;
  margin-left: 5px;
}

/* line 8, ../sass/v-overrides-fontawesome.scss */
.v-element-nav .dropdown-item .far {
  margin-right: 5px;
  min-width: 20px;
}

/* line 12, ../sass/v-overrides-fontawesome.scss */
.v-showhide .fas {
  padding: 2px 15px;
  float: right;
}

/* line 16, ../sass/v-overrides-fontawesome.scss */
.v-showhide .v-closed .fas {
  transform: rotate(180deg);
}
