@charset "UTF-8";
/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* TABLESORTER: for tables with class "v-with-sortable-headers" that uses the plugin jquery.tablesorter.min.js */
/* line 12, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .tablesorter-header {
  outline: none;
  padding-right: 25px;
}
/* line 16, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .tablesorter-header div {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  cursor: pointer;
}
/* line 22, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .tablesorter-header div:before {
  content: "";
  position: absolute;
  right: 5px;
  top: 6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #bbb;
}
/* line 31, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .tablesorter-header div:after {
  content: "";
  position: absolute;
  right: 5px;
  bottom: 6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #bbb;
}
/* line 45, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .tablesorter-header:focus div {
  border-color: #80bdff;
  outline: 0;
  box-shadow: inset 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* line 58, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .tablesorter-headerDesc div:after {
  border-top: 5px solid #0579C9;
}
/* line 70, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .tablesorter-headerAsc div:before {
  border-bottom: 5px solid #0579C9;
}
/* line 78, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .sorter-false {
  cursor: default;
  padding-right: 10px;
}
/* line 82, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .sorter-false div {
  cursor: default;
}
/* line 86, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .sorter-false:hover {
  background-color: transparent;
}
/* line 90, ../sass/v-overrides-tablesorter.scss */
.v-with-sortable-headers .tablesorter-headerRow .sorter-false div:before, .v-with-sortable-headers .tablesorter-headerRow .sorter-false div:after {
  display: none;
}
