/* line 1, ../sass/v-reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* line 21, ../sass/v-reset.scss */
html {
  line-height: 1;
  box-sizing: border-box;
}

/* line 25, ../sass/v-reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 28, ../sass/v-reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/v-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 37, ../sass/v-reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 43, ../sass/v-reset.scss */
q, blockquote {
  quotes: none;
}

/* line 47, ../sass/v-reset.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 52, ../sass/v-reset.scss */
a img {
  border: none;
}

/* line 56, ../sass/v-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
