/* Import variables */
/* not sure where its used*/
/* not sure where its used*/
/* line 4, ../sass/v-select-api.scss */
.v-select-api-wrapper {
  display: inline-flex;
  height: 100%;
  padding: 0 40px 0 0;
}

/* line 10, ../sass/v-select-api.scss */
.v-select-api {
  background-color: #fff;
  min-width: 300px;
  max-width: 300px;
  margin: 0px 20px 0px 0;
  flex-shrink: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* line 23, ../sass/v-select-api.scss */
.v-select-api .v-select-api-actions a {
  display: inline-block;
  margin-right: 5px;
}
/* line 30, ../sass/v-select-api.scss */
.v-select-api .v-select-api-head {
  padding: 5px 0;
}
/* line 33, ../sass/v-select-api.scss */
.v-select-api .v-select-api-head h3 {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  margin-bottom: 5px;
}
/* line 42, ../sass/v-select-api.scss */
.v-select-api .v-select-api-head h4 {
  font-size: 14px;
  color: #999;
  font-weight: 400;
}
/* line 50, ../sass/v-select-api.scss */
.v-select-api .v-select-api-search {
  padding: 10px 0;
}
/* line 54, ../sass/v-select-api.scss */
.v-select-api .v-select-api-list {
  flex-grow: 1;
  overflow-y: auto;
  border-top: 1px solid #ccc;
  padding-bottom: 20px;
  box-shadow: inset 0px 10px 8px -8px rgba(0, 0, 0, 0.1);
  position: relative;
}
/* line 62, ../sass/v-select-api.scss */
.v-select-api .v-select-api-list .v-showhide {
  cursor: pointer;
}
/* line 65, ../sass/v-select-api.scss */
.v-select-api .v-select-api-list .v-showhide:hover {
  color: #666;
}
/* line 71, ../sass/v-select-api.scss */
.v-select-api .v-select-api-list h3 {
  font-size: 16px;
  padding: 15px 0px 10px;
  font-weight: 700;
  margin: 0px 0 5px;
}
/* line 80, ../sass/v-select-api.scss */
.v-select-api .v-select-api-list ul li {
  background-color: #f7f7f7;
  margin: 5px 0;
  padding: 0;
}
/* line 85, ../sass/v-select-api.scss */
.v-select-api .v-select-api-list ul li a {
  display: block;
  padding: 10px;
}
/* line 89, ../sass/v-select-api.scss */
.v-select-api .v-select-api-list ul li a:hover {
  text-decoration: none;
}
/* line 101, ../sass/v-select-api.scss */
.v-select-api:after {
  content: "";
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 10px;
  box-shadow: inset 0px -10px 8px -8px rgba(0, 0, 0, 0.1);
  position: absolute;
}
/* line 111, ../sass/v-select-api.scss */
.v-select-api.add-api {
  align-self: flex-start;
}
/* line 114, ../sass/v-select-api.scss */
.v-select-api.add-api:after {
  box-shadow: none;
}
